.search-element {
  display: flex;
  color: black;
  padding: 10px 20px;
}

.search-element.selected {
  opacity: 0.2;
}

.search-element--empty {
  display: flex;
  color: #00000078;
  height: 40px;
  margin: auto;
  align-items: center;
  padding: 10px 20px;
}

.search-image {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin-right: 10px;
  background-size: contain;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
}

.search-info-block {
  display: flex;
  flex-direction: column;
  color: #000000c4;
}

.search-info-block div {
  max-width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search-info-block div:last-of-type {
  color: #00000078;
}
